/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary selection:bg-sky-500 selection:text-white overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }

  /* BUTTON SECTION */
  .btn-primary-sm {
    @apply w-[120px] h-[33px] rounded-full bg-sky-500 border border-sky-500 capitalize font-primary text-[15px] text-white font-semibold flex items-center justify-center transition duration-500 hover:text-white focus:text-white hover:scale-105;
  }

  .btn-primary-outline {
    @apply w-[170px] h-[45px] border border-sky-500 rounded-full text-sky-500 font-bold flex items-center justify-center transition duration-300 hover:scale-105;
  }

  .btn-primary-md {
    @apply px-[25px] h-[50px] text-[14px] bg-sky-500 rounded-[5px] transition duration-300 hover:scale-105 text-white font-bold flex items-center justify-center;
  }


  /*
     CUSTOM CSS
  */
  .padding-block {
    @apply md:py-[90px] py-[50px];
  }

  .margin-block {
    @apply md:my-[90px] my-[40px];
  }

  .padding-inline {
    @apply 2xl:px-[100px] sm:px-[70px] px-[30px];
  }

  .margin-inline {
    @apply 2xl:mx-[100px] md:mx-[60px] mx-[30px];
  }

  .text-last-left {
    text-align-last: left;
  }

  .text-last-justify {
    text-align-last: center;
  }

  h1 {
    @apply text-[50px] font-extrabold capitalize text-white;
  }
}


/* TOP BTN  */
.top-icon {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  z-index: 100;
  cursor: pointer;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0.8;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  color: white;
  background-color: #2AABE1;
  border: 0.1rem solid transparent;
  box-shadow: 0 0.8rem 1.5rem #2aaae156;
  transition: all 0.4s linear;
}

.top-icon:hover,
.top-icon:focus {
  opacity: 1;
  color: #2AABE1;
  border-color: #2AABE1;
  background-color: transparent;
}

.animateIcon {
  visibility: visible;
  animation: iconAnimation 0.5s linear;
}

@keyframes iconAnimation {

  0% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

.icon-animation {
  animation: icon 1s linear infinite alternate-reverse;
}

@keyframes icon {
  0% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

/* NAVBAR  */
.nav-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: scroll 0.5s ease-in;
  transition: all 0.5s linear;
  background-color: #fff;
}

@keyframes scroll {
  0% {
    transform: translateY(-90px);
  }

  100% {
    transform: translateY(0px);
  }
}

.dropdown ul {
  transition: all 0.3s linear;
}

.dropdown:focus ul,
.dropdown:hover ul {
  opacity: 1 !important;
  top: 110%;
}

.dropdown:focus .caret,
.dropdown:hover .caret {
  transform: rotate(-180deg);
}

.gradient_color {
  background: linear-gradient(97deg,
      #161616 5.97%,
      #2aabe1 20.29%,
      #90e0ef 23.17%,
      #000 38.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-outline {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #EEEEEE;
  font-style: normal;
  font-weight: 700;
  color: transparent;
}

/* HERO SECTION */
.hero_video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
  color: #fff;
}

.swiper-button-next,
.swiper-rtl .swiper-button-next {
  right: 1.5rem !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  left: 1.5rem !important;
}

/* 
  SERVICE SECTION
*/

.image-animation {
  animation: moveLeftToDefault 2s ease forwards;
}

@keyframes moveLeftToDefault {
  from {
    transform: translate(-100%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}



@media (max-width : 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

}

/* PROJECT SECTION */
.project_section::before {
  content: '';
  position: absolute;
  width: 75%;
  background-color: #020332;
  z-index: -1;
}


/* ABOUT SECTION */
.about_mission_section::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 100px;
  background-color: #020332;
  z-index: -1;
}


/* CAREER PAGE SECTION  */
.career_team_section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 30%;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.career_team_section::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 30%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}


@media (max-width : 1024px) {

  /* TOP BTN */
  .top-icon {
    right: 2rem;
    bottom: 2rem;
  }

  .project_section::before {
    width: 100%;
    height: 70%;
    bottom: 0;
    top: auto;
  }

  .about_mission_section::before {
    width: 100%;
    height: 70%;
    left: 0;
  }

  /* CAREER PAGE SECTION */
  .career_team_section::before,
  .career_team_section::after {
    width: 100%;
    height: 20%;
  }

  .career_team_content {
    background-color: #fff;
  }

}